:root {
  --block-hdr-font-size: 14px;
  --block-hdr-font-weight: 700;

  --th-font-size__primary: 12px;
  --th-font-size__secondary: 14px;
  --th-font-weight: 700;

  --td-font-size__primary: 12px;
  --td-font-size__secondary: 14px;
}
