:root {
  --block-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  --block-hdr-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  --button-shadow-hover: 0px 1px 9px rgba(0, 0, 0, 0.2);
  --button-shadow-active: 0px 1px 5px rgba(0, 0, 0, 0.1);
  --block-ftr-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
